# don't use inline comments (only line initial)!
#
# for some reason (levels?) resulting maps look awfully distorted
# in QLandkarteGT but are displayed just fine on an eTrex 10

# general metadata
description=OSM-Wegekarte for eTrex 10 (ped, cyc)
series-name=OSM-Wegekarte
family-name=OSM-Wegekarte
family-id=73280000
product-id=1
product-version=1
mapname=73280000
license-file=share/map-license.txt

# geographical metadata (you may want to adapt this)
area-name=
country-name=
country-abbr=
region-name=
region-abbr=

# output and encoding specs
# setting an 8 bit codepage increases output file size a bit
# setting codepage 65001 (Unicode) increases SRT by 100k for small maps
output-dir=img-output
code-page=1252
#code-page=65001
tdbfile
gmapsupp
remove-ovm-work-files
style-file=share/styles/minimal
show-profiles=0
draw-priority=100

# general map features
# * the eTrex10 GPSr has no address index and cannot do routing
# * as of January 2014 mkgmap docs state that make-poi-index is "not yet useful"
# * add-pois-to-areas makes e.g. lakes appear in the POI index
#   (unless they're filtered out in the points style file)
#   add-pois-to-areas is useful for e.g. buildings that should come up as POIs
#   and (very) occasionally there are lines that should be POIs as well
transparent
add-pois-to-areas
add-pois-to-lines
no-location-autofill
no-route
no-index
no-poi-address
no-make-poi-index
no-make-all-cycleways
no-link-pois-to-ways
no-process-destination
no-process-exits
no-road-name-pois

# map rendering features, optimizations and specs
# * recommended point density: 4 (polygons: 8)
# * not sure what the unit of measurement is for min-size-polygon
#   (m^2?, n(points)?)
merge-lines
reduce-point-density=4
reduce-point-density-polygon=8
min-size-polygon=10
remove-short-arcs=0

ignore-osm-bounds
ignore-builtin-relations
